div.text-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 120px;
}
h1 {
  text-transform: uppercase;
  //position: absolute;
  text-align: center;
  color: $color-white;
  font-size: 2.8rem;
  letter-spacing: 8px;
  font-family: "Fraunces", serif;
  margin-top: 20px;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.arrow {
  text-align: center;
  margin-top: 30px;
  height: 150px;
}
div.first-wrap {
  display: flex;
  flex-direction: column;
}
div.services {
  display: flex;
  flex-direction: column;
}
img.card {
  width: 100%;
  max-width: 600px;
  padding: 0 0;
}
div.wrap-text {
  padding: 50px 20px;
  text-align: center;
  //width: 375px;
}
.text-h2 {
  text-align: center;
  font-family: "Fraunces", serif;
  margin: 20px 0;
  font-size: 1.7rem;
}
.text-p {
  text-align: center;
  color: $color-very-dark-grayish-blue;
  font-family: "Barlow", sans-serif;
  margin: 20px 0;
  font-size: 1.2rem;
}
.text-h3 a {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  margin: 30px 0;
  font-size: 1rem;
  color: black;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 0.3rem;

  &:hover {
    text-decoration-thickness: 0.8rem;
  }
}
#text-h3 a {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  margin: 30px 0;
  font-size: 1rem;
  color: black;
  text-decoration: underline;
  text-decoration-color: hsl(7, 99%, 70%);
  text-decoration-thickness: 0.3rem;
  &:hover {
    text-decoration-thickness: 0.8rem;
  }
}
div.wrap {
  display: flex;
  flex-direction: column;
}

div.services-extra {
  // display: flex;
  // flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  & .first img {
    width: 100%;
  }
}

div.text-ontop {
  text-align: center;
  position: absolute;
  top: 65%;
  padding: 10px;
}
.text-h4 {
  text-align: center;
  font-size: 1.7rem;
  font-family: "Fraunces", serif;
}
p.description {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 15px;
  font-family: "Barlow", sans-serif;
}
div#services-extra {
  margin-top: -7px;
  height: 100%;
  width: 100%;
}
h1.testimonial {
  color: $color-dark-grayish-blue;
  letter-spacing: 5px;
  font-size: 1.2rem;
  white-space: nowrap;
  text-align: center;
  padding: 35px 0;
}
div.wrap-container {
  display: flex;
  flex-direction: column;
}
div.wrap-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  & img {
    border-radius: 50%;
    padding: 15px 5px;
  }
  & p {
    padding: 15px 15px;
    color: $color-dark-grayish-blue;
    font-size: 1.1rem;
  }
  & h5 {
    font-size: 1.3rem;
    padding: 15px 0;
    font-family: "Fraunces", serif;
  }
  & h6 {
    font-size: 1.2rem;
    color: $color-dark-grayish-blue;
    padding: 5px 0 25px 0;
    font-family: "Fraunces", serif;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "img-milk img-orange"
    "img-cone img-cubes";
  padding-top: 50px;
  & img {
    width: 100%;
    max-width: 300px;
  }
}
footer {
  color: $color-cayan-desaturated;
  background-color: hsl(167, 44%, 70%);
  display: grid;
  row-gap: 1rem;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "svg"
    "nav"
    "social"
    "attr";
  place-content: center;
  padding: 30px 0;
  & svg.svg {
    grid-area: svg;
    align-self: end;
    filter: invert(16%) sepia(5%) saturate(3833%) hue-rotate(116deg)
      brightness(73%) contrast(43%);
    &:hover {
      filter: brightness(0) invert(1);
    }
    &:active {
      filter: brightness(0) invert(1);
    }
  }
}
footer > * {
  place-self: center;
}
footer nav {
  grid-area: nav;
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding-top: 20px;
  padding-bottom: 40px;

  & a {
    place-self: center;
    color: $color-cayan-desaturated;
    text-decoration: none;
    &:hover {
      color: $color-white;
    }
  }
}
footer .social {
  grid-area: social;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;

  & a svg:hover {
    filter: brightness(0) invert(1);
    &:active {
      filter: brightness(0) invert(1);
    }
  }
}
.attr a {
  color: blue;
  &:hover {
    color: $color-white;
  }
  &:active {
    color: $color-white;
  }
}

@media (min-width: 600px) {
  header {
    background-image: url(../images/desktop/image-header.jpg);
    height: 100vh;
    width: 100%;
    max-width: 2500px;
  }
  h1 {
    text-transform: uppercase;
    //position: absolute;
    text-align: center;
    color: $color-white;
    font-size: 3.5rem;
    letter-spacing: 8px;
    font-family: "Fraunces", serif;
    margin-top: 150px;
  }
  .nav-link button {
    background-color: $color-white;
    &:hover {
      color: $color-yellow;
    }
    &:active {
      color: $color-yellow;
    }
  }

  .arrow {
    text-align: center;
    margin-top: 30px;
    height: 200px;
  }
  .nav-link {
    color: $color-white;
    font-size: 1.3rem;
  }
  button.humburger {
    display: none;
  }
  .nav-menu {
    display: block;
    top: 0;
    left: 250px;
    background-color: transparent;
    width: 100%;
  }
  div.first-wrap {
    text-align: left;
  }
  div.services {
    flex-direction: row-reverse;
  }
  div#services-pink {
    flex-direction: row;
  }
  div.wrap-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div.text-h2 {
    text-align: left;
    font-size: 2.1rem;
  }
  div.text-p {
    text-align: left;
    font-size: 1.3rem;
  }
  div.text-h3 {
    text-align: left;
    font-size: 1.1rem;
  }

  div.wrap {
    flex-direction: row;
    width: 100%;
  }

  img.card {
    //width: 50%;
    max-width: 675px;
  }

  div.services-extra {
    margin-top: -7px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "img-milk img-orange img-cone img-sugar";
    padding-top: 50px;
    gap: 0;
    & img {
      width: 100%;
      max-width: 350px;
    }
  }
  div.testimonials {
    flex-direction: row;
  }
  div.wrap-container {
    flex-direction: row;
  }
}
